button:focus,
input:focus,
select:focus,
textarea:focus,
.btn,
.form-control,
.navbar-toggler:focus {
   outline: none !important;
   box-shadow: none !important;
   text-decoration: none !important;
}

/* custom input */
input,
input.form-control {
   color: inherit;
}

input.form-control::placeholder {
   color: inherit;
   opacity: .5;
}

/* custom btn-collapse */
.btn-collapse {
   position: relative;
}

.btn-collapse::before {
   content: "\f282";
   font-family: "bootstrap-icons";
   position: absolute;
   top: 50%;
   right: 0;
   transition: .36s;
   color: inherit;
}

.btn-collapse::before {
   transform: translateY(-50%) rotate(180deg);
}

.btn-collapse.collapsed::before {
   transform: translateY(-50%) rotate(0);
}

/* custom modal fade in-out zoom-in/ out */
.modal.fade.show .modal-dialog {
   -webkit-transform: translate(0, 0) scale(1);
   transform: translate(0, 0) scale(1);
}

.modal.fade .modal-dialog {
   -webkit-transform: translate(0, 0) scale(.5);
   transform: translate(0, 0) scale(.5);
}

/* custom fromcheck (checkmark) */
.form-check input,
.form-check label {
   cursor: pointer;
}

.form-check .form-check-input {
   opacity: 0;
   z-index: 10;
}

.form-check .checkmark {
   width: 13px;
   height: 13px;
   background-color: #b4b4b4;
   border-radius: 100%;
   position: absolute;
   top: .3rem;
   left: 0;
   z-index: 100;
}

.form-check input:checked~.checkmark {
   background-color: #595959;
}

/* custom carousel indicators */
.carousel-indicators.carousel-indicators-circle li {
   width: 10px;
   height: 10px;
   border-radius: 100%;
   margin: 0;
   border: solid 5px transparent;
}

/* gutter on row */
.row.g-3,
.d-flex.g-3 {
   margin-left: -.5rem;
   margin-right: -.5rem;
}

.row.g-3>div,
.d-flex.g-3>div {
   padding-left: .5rem;
   padding-right: .5rem;
}

@media (min-width: 768px) {

   .row.g-md-4,
   .d-flex.g-md-4 {
      margin-left: -.75rem;
      margin-right: -.75rem;
   }

   .row.g-md-4>div,
   .d-flex.g-md-4>div {
      padding-left: .75rem;
      padding-right: .75rem;
   }
}

/* batalkan small class */
@media (min-width: 768px) {
   .small-md-inherit {
      font-size: 1rem;
   }
}